:host {
    display: flex;
    min-height: 100%;
  }
  nav {
    width: 68px;
    background-color: #3720C9;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  nav i{
    font-size: 45px;
    padding-bottom: 20px;
    color: #FFF;
  }
  nav i:hover{
    opacity: 70%;
  }
  nav:first-child {
    padding-top: 20px;
  }
  section {
    width: 100%;
    background-color: #10093C;
  }
  section > header {
    color: #ffffff;
    padding: 10px;
  }
  section > header > h1 {
    font-size: 2em;
  }
  section > header .description {
    font-style: italic;
  }