version: '3'
services:
    nginx:
        build: ./backend/nginx/
        container_name: nginx-container
        ports:
            - '90:90'
        links:
            - php
        volumes:
            - ./backend/www/html/:/usr/share/nginx/html/
    
    php:
        build: ./backend/php/
        container_name: php-container
        volumes:
            - ./backend/www/html:/usr/share/nginx/html/

    mysql:
        image: mysql
        container_name: db-container
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: homesite
            MYSQL_ROOT_PASSWORD: mrVEp2zTD6
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - ./backend/mysql/:/var/lib/mysql/

    angular:
        build: ./frontend/
        container_name: angular-container
        ports:
            - '80:80'
      
