version: '3'
services:
    web_host:
        build: ./backend/nginx/
        container_name: nginx-container
        ports:
            - '90:90'
<<<<<<< HEAD
=======
        links:
            - php
>>>>>>> dev
        volumes:
            - ./backend/www/html:/usr/share/nginx/html/
    
    php:
        image: php:7.0-fpm
        container_name: php-container
        volumes:
            - ./backend/www/html:/usr/share/nginx/html/

    front_end:
        build: ./frontend/
        container_name: front_end
        ports:
            - '80:80'
      
