:host {
    display: flex;
    height: calc(100% - 95px);
    flex-direction: column;
    padding: 10px;
  }
  
  header {
    color: #FFF;
    padding: 10px;
  }
  
  header > h1 {
    font-size: 2em;
  }
  
  header .description {
    font-style: italic;
  }
  
  div {
    padding: 10px;
    height: 500px;
  }