<header>
  <h1>Task List</h1>
  <h2>Add Task to complete</h2>
</header>
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="name">Task</label>
      <input type="text" name="title" id="name" formControlName="title">
    </li>

    <!--Error Displays-->
    <div *ngIf="title.hasError('required')" class="error">
      Task must contain a value!
    </div>
    <div *ngIf="title.hasError('pattern')" class="error">
      Task must be alphanumeric!
    </div>

    <li>
      <label for="category">Category</label>
      <select name="category" id="category" formControlName="category">
        <option *ngFor='let category of lookupLists.categories' value="{{ category }}">{{ category }}</option>
      </select>

      <!--More Error Displays-->
      <div *ngIf="category.hasError('required')" class="error">
        Category must be selected!
      </div>

    </li>

    <input type="hidden" name="complete" formControlName="complete">
  </ul>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>
