:host {
    display: flex;
    height: calc(100% - 95px);
    flex-direction: column;
    padding: 10px;
  }

  header select {
    margin: 10px auto;
  }

  header input {
    margin-left: 15px;
  }

  header label {
    color: #FFF;
  }

  header {
    color: #c6c5c3;
    padding: 10px;
    padding-bottom: 10px;
  }

  header > h1 {
    font-size: 2em;
  }

  header > h2 {
    font-size: 1.4em;
  }

  header .description {
    font-style: italic;
  }

  section {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }

  section > media-item {
    margin: 10px;
  }

  footer {
    text-align: right;
  }
  
  footer .icon {
    width: 64px;
    height: 64px;
  }