<nav>

  <select name="category" id="category" formControlName="category" #cat (change)="getTaskItems(cat.value)">
    <option *ngFor='let category of lookupLists.categories_show' value="{{ category }}">{{ category }}</option>
  </select>

</nav>
<header>
    <div *ngIf="taskItems">{{ taskItems | categoryList }}</div>
</header>
<section>
    <hs-task-item
        [ngClass]="{'category-cats': taskItem.category==='Cats', 'category-clean': taskItem.category==='Cleaning'}"
        *ngFor="let taskItem of taskItems" 
        [taskItem]="taskItem"
        (delete)="onTaskItemDelete($event)"></hs-task-item>
  </section>
