<header>
  <h2>Add Task to complete</h2>
</header>
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="name">Task</label>
      <input type="text" name="title" id="name" formControlName="title">
    </li>

    <!--Error Displays-->
    <div *ngIf="title.hasError('required')" class="error">
      Task must contain a value!
    </div>
    <div *ngIf="title.hasError('pattern')" class="error">
      Task must be alphanumeric!
    </div>

    <li>
      <label for="category">Category</label>
      <select name="category" id="category" formControlName="category">
        <option value="Cleaning">Cleaning</option>
        <option value="Cats">Cats</option>
      </select>
    </li>
  </ul>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>
