:host {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 150px;
    border: 2px solid;
    background-color: #10093C;
    padding: 10px;
    color: #bdc2c5;
    margin: 0 12px 12px 0;
  }
  h2 {
    font-size: 1.6em;
    flex: 1;
  }
  :host(.category-cats) {
    border-color: #20c937;
  }
  :host(.category-cats) > h2 {
    color: #20c937;
  }
  :host(.category-clean) {
    border-color: #c93720;
  }
  :host(.category-clean) > h2 {
    color: #c93720;
  }
  .tools {
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .delete {
    display: block;
    background-color: #c93720;
    padding: 4px;
    font-size: .8em;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
  }
  .complete {
    display: block;
    background-color: #20c937;
    padding: 4px;
    font-size: .8em;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
  }