a {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    color: #FFF;
    text-decoration: underline;
    font-size: 1.2em;
    margin-left: 10px;
}

i {
    color: #FFF;
    font-size: 1.2em;
}

